.main {
  margin: 20px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  .column {
    ul {
      list-style: none;
      background-color: rgba(230, 230, 230, 0.781);
      border-radius: 10px;
      padding: 10px;
    }
    .correct {
      color: green;
    }
  }
  .restartBtn {
    margin: auto;
    width: 180px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 30px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}
